@import url('https://fonts.googleapis.com/css?family=Roboto');

p.message-text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

body, html {
  width: 100%;
  height: 100%;
}

.header {
  height: 153px;
  background-color: #2B3D53;
}

img.home {
  position: absolute;
  top: 8.5%;
  left: 89.3%;
  width: 29px;
  height: 27px;
}

img.logo {
  width: 153px;
  height: 153px;
}

/*top: 203px;
right: 0;*/

.navi-bar {
  position: absolute;
  z-index: 20;
  color: #E0E0E0;
  text-align: center;
  width: 375px;
  background-color: rgba(131, 162, 183, .8);
  padding-bottom: 10px;
  border-bottom: solid 1px #E0E0E0;
}

#to-do-bar {
  top: 203px;
  right: 0;
}

#cuisine-bar {
  top: 270px;
  right: 0;
}

#amen-bar {
  top: 337px;
  right: 0;
}

.hero1 {
  padding-right: 0;
  padding-left: 0;
  height: 463px;
  background: url("../images/cruise1.jpg") no-repeat center;
  background-size: cover;
}

.home-view {

}

.to-do-view {
  background-color: #333333;
}

.event {
  border-bottom: solid 1px #E0E0E0;
}

.event#gc {
display: none;
}

.event#pa{
display: none;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15.5px;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #E0E0E0;
}

.to-do {
  margin-top: 10px;
  margin-right: 0;
  border-radius: 50%;
}

.descrb {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12.75px;
  color: #E0E0E0;
}

.event#vic-one {
  height: 194px;
  display: none;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 15px;
  color: #E0E0E0;
}

.amenities-view {
  background-color: #333333;
  display: none;
}

.amen-tile {
  width: 185;
  height: 194px;
}

#pool {
  background: url("../images/pool.jpg") no-repeat center;
  background-size: cover;
}

#spa {
  background: url("../images/spa.jpg") no-repeat center;
  background-size: cover;
}

#gym {
  background: url("../images/GYM-2.jpg") no-repeat center;
  background-size: cover;
}

#service {
  background: url("../images/bellboy.jpg") no-repeat center;
  background-size: cover;
}

.amenity-page {
  height: 388px;
  background-color: #333333;
  display: none;
}

.amen-left {
  padding-top: 27px;
}

img.amenity-pic {
  border-radius: 50%;
}

.footer {
  height: 80px;
  background-color: #2B3D53;
  display: none;
}
